name: CI

on:
  pull_request:
  push:
    branches:
      - master

# ensure previous runs are cancelled when we push something new to save action time
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  container-build:
    name: Container build
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.1.0

      # build the container using buildx so it can be cached 
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.2.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ghcr.io
          username: vchernin
          password: ${{ secrets.GITHUB_TOKEN }}

      # we only want to actually push the image if this is job running for master
      - name: Check if push to master or pull request
        id: push_or_pr
        run: |
          if [ "$GITHUB_EVENT_NAME" == "push" ] && [ "$GITHUB_REF" == "refs/heads/master" ]
          then
              echo "push_image=true" >> "$GITHUB_OUTPUT"
          else
              echo "push_image=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Build Docker image 
        uses: docker/build-push-action@v3.2.0
        with:
          push: ${{ steps.push_or_pr.outputs.push_image }}
          cache-from: type=registry,ref=ghcr.io/vchernin/cpen400p-baseproject:latest
          cache-to: type=registry,ref=ghcr.io/vchernin/cpen400p-baseproject:latest,mode=max
